/***********************
* Overall layout control
************************/

#jevents_body{
    width:100%;   
}
.jeventslight{
	color:#000000;
}
#jevents_header td, #jevents_header tr, div.ev_navigation tr, div.ev_navigation td{
	border:none;
}
#jevents_body .contentpaneopen  table,#jevents_body .contentpaneopen  td,#jevents_body .contentpaneopen tr,#jevents_body .contentpaneopen p, #jevents_body .contentpaneopen div {
	border:none;	
	line-height:1.5em;

}

/*********************
* Calendar style
**********************/
.cal_table {
   
	border: 1px solid rgb(215,215,215);
}
.cal_td_daysnames {
    border-bottom: 1px solid #000000;
    height:25px ! important;
    line-height:25px;
   	background-repeat: repeat-x; 
   	background-position: top left;
   	color:black;
    background-color:#E9B4A1;
    font-weight:bold;
    text-align:center !important;
}
.cal_daysnames {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.cal_td_daysoutofmonth {
    color:rgb(170,170,170);
    text-align:center;
	border-width:1px 0 0 1px;
	border-style:solid;
	border-color:rgb(207,207,207); 
}
.cal_daysoutofmonth {
    font-family:  Arial;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.cal_td_today {
		border-width:1px 0 0 1px;
	border-style:solid;
	border-color:rgb(207,207,207);
    /* non rgba browsers display white */
  background:rgb(255,255,255);
	/* rgba browsers display 0.2 opacity */
	background:rgba(215,135,215,0.2);
	color:#85368A;
    padding:0px !important;
}
.cal_td_daysnoevents {
		border-width:1px 0 0 1px;
	border-style:solid;
	border-color:rgb(207,207,207);
    padding:0px !important;
}
a.cal_daylink:link {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.cal_daylink:visited{
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
a.cal_daylink:hover{
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}
a.cal_titlelink:link, a.cal_titlelink:visited, a.cal_titlelink:hover {
    font-size:10px;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    color:inherit!important;
	vertical-align:middle!important;
    margin-bottom:1px;
}

.cal_td_weeklink {
	vertical-align:middle!important;
	padding:0 0 0 6px;
	border-width:1px 0 0;
	border-style:solid;
	border-color:rgb(207,207,207);
	/* border:solid 1px rgb(207,207,207); */
}
.cal_td_weeklink a {
    font-size:10px;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    color:inherit!important;
}

/***************************
* Detail View 
***************************/
.ev_prevrepeat {
	line-height:20px;
	float:left;
	margin-right:30px;
}
.ev_nextrepeat {
	line-height:20px;
	float:left;
}
/***************************
* List style
**************************/
ul.ev_ul {
	list-style:none;
	padding:0px;
	margin:5px;
}
ul.ev_ul li.ev_td_li {
  	border-style:solid;
  	border-width:0 0 0 5px;
  	margin-bottom:1px;
  	padding-left:2px;
  	background-image:none
}
a.ev_link_cat:link {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_cat:visited  {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_cat:hover  {
    font-size:12px;
    font-family: Verdana;
    color: Black;
}
a.ev_link_row:link {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_row:visited  {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_row:hover  {
    font-size:12px;
    font-family: Verdana;
    color: Black;
}
a.ev_link_unpublished {
    color:red;
    text-decoration:none;
}
a.ev_link_weekday:link {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_weekday:visited  {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_weekday:hover  {
    font-size:12px;
    font-family: Verdana;
    color: Black;
}
.ev_fieldset {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    /* color: black; */
}
.jev_catdesc {
	margin-bottom:4px;
}

.ev_table {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.ev_table td {
    padding:5px;
}
.ev_td_right {
	width:100%;
    /*background-color: #FFDEAD;*/
    border-top: 1px solid #000000;
}
.ev_td_left {
    background-color: #c5d5e5;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-align : left;
    vertical-align: top;
}
.ev_td_today {
    background-color: #E9B4A1;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: black;
}

/**********************
* Form style
**********************/
 /* Styles for dhtml tabbed-pages */
.ontab {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: ThreedShadow;
    border-left: outset 1px #ff9900;
    border-right: outset 1px #808080;
    border-top: outset 1px #ff9900;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    /* color: #FFFFFF; */
}
.offtab {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EEEEEE;
	border-left: outset 1px #E0E0E0;
	border-right: outset 1px #E0E0E0;
	border-top: outset 1px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
}
.tabpadding {
	border-bottom: solid 0px #777777;
}
.tabheading {
	background-color: #ffae00;
	border-left: solid 1px #777777;
	border-right: solid 1px #777777;
	/* color: #FFFFFF; */
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: left;
}
.tabcontent {
    /* background-color: ThreedFace; */
    border-top: solid 1px #777777;
    border-left: solid 1px #777777;
    border-right: solid 1px #777777;
    border-bottom: solid 1px #777777;
    /* color: #FFFFFF; */
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: left;
}
.pagetext {
	visibility: hidden;
   display: none;
	position: relative;
	top: 0;
}
.frm_td_bydays {
    background-color: #FFF8DC;
    font-size: 12px;
    color: black;
}
.frm_td_byweeks {
    background-color: #FFF0F5;
    font-size: 12px;
    color: black;
}
.frm_td_bymonth {
    background-color: #FDF5E6;
    font-size: 12px;
    color: black;
}
.frm_td_byyear {
    background-color: #F0F8FF;
    font-size: 12px;
    color: black;
}
/* Calendar navigaton area */
div.ev_navigation {
margin-bottom:0.5em;

}
div.ev_navigation table:first-child{
  display:none;
}
/* Calendar admin panel */
div.ev_adminpanel {
}
/**********************
* Nav bar style
**********************/
a.nav_bar_link:link {
    font-size: 10px;
    font-family: Verdana;
    color: Green;
}
a.nav_bar_link:visited  {
    font-size:10px;
    font-family: Verdana;
    color: Teal;
}
a.nav_bar_link:hover  {
    font-size:10px;
    font-family: Verdana;
    color: Lime;
}
.nav_bar_cell  {
    background-color: #ECECEC;
}

/****************************
* Iconic calendar navigation
****************************/

td.iconic_td {
   width:44px!important;
   margin:0px;
   padding:0px;
}
div.nav_bar_cal{
   margin:0px;
   padding:0px;
   width:44px;
}
div.nav_bar_cal img, div.nav_bar_cal a{
   height:33px;
   width:44px;
   border:0;
}
tr.icon_labels{
 font-size:8pt;
 margin:0px;
 padding:0px;
}
div#ev_icon_yearly {
     background-image: url("../images/calyear.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_monthly {
     background-image: url("../images/calmonth2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_monthly_active {
     background-image: url("../images/calmonth2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_weekly{
     background-image: url("../images/calweek2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_weekly_active{
     background-image: url("../images/calweek2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_daily{
     background-image: url("../images/calday2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_daily_active{
     background-image: url("../images/calday2.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_search{
     background-image: url("../images/calyear.png")!important;
     background-repeat: no-repeat;
}
div#ev_icon_jumpto{
     background-image: url("../images/calyear.png")!important;
     background-repeat: no-repeat;
}

/* Monthly view */
td.cal_td_month {
}
td.cal_td_month, td.cal_td_currentmonth{
	font-size:10pt;
	letter-spacing:3px;
	border-width:0 0 1px 1px;
	border-style:solid;
	border-color:rgb(207,207,207);
	height:30px;
	vertical-align:bottom;
}
td.cal_td_currentmonth{
  /* non rgba browsers display white */
  background:rgb(255,255,255);
	/* rgba browsers display 0.2 opacity */
	background:rgba(215,135,215,0.2);
	color:#85368A;
	font-size:1.1rem;
}
cal_events {
}

div.jev_pagination {
	width:100%;
	text-align:center;
}

/* Event Legend Module Styling */
.moduletable div.event_legend_container {
	border:0px;
	color:black;
	padding:0px;
	font-size:0.9em;
}
ul.event_legend_list{
	list-style:none !important;
	padding:0px;
	margin:5px;
}
ul.event_legend_list li {
	list-style:none !important;
	border:solid black 1px;
	background-image:none !important;
	padding-left:0px;
}
div.event_legend_name {
	font-size:0.9em;
	padding:3px;
	font-weight:bold;
}
div.event_legend_name a{
	display:block;
	text-decoration:none;
   	background-color:inherit;
   	color:black;
}
	
div.event_legend_desc {
	background-color:white;
	color:black;
	padding:3px 3px 3px 10px;
	
}

/* Component Legend Styling
   float div to get table like view 
   border-color is set to category color by code */
#jevents_body .event_legend_container {
	border-width:0 1px 1px;
	border-style:solid;
	border-color:rgb(215,215,215);
}
#jevents_body  div.event_legend_item {
	float:left;
	border-left-width:0px;
	border-left-style:solid;
	padding-left:4px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:4px;
	/*width:80px;*/
	min-width:80px;
	white-space:nowrap;
	overflow:hidden;
}
#jevents_body div.event_legend_name {
	border-left-width:8px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;
}
#jevents_body div.event_legend_desc {
	border-left-width:8px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;
	display:none;
}
/* end component legend */

div.jev_adminfilter {
	text-align:center;
	font-weight:bold;
	margin:5px auto 10px auto; 
}
#jevents_body a.addjevent:hover {background-color: transparent;}
a.addjevent {
	width:16px;
	height:16px;
	margin-right:2px;
	float:right;
    background-image: url("../images/add.png")!important;
   	background-repeat: no-repeat; 
   	background-position: top left;
   	visibility:hidden;
}
a.addjevent img {
border-width:0px!important;
}
td.showjevadd a.addjevent {
   	visibility:visible;
}

/***************************************
* Mootools ToolTips for JEvents Calendar
****************************************/
.jevtip-tip {
   float: left;
   background: #ffc;
   border: 1px solid #D4D5AA;
   padding: 0px;
   max-width: 200px;
   z-index:99;
}
 
.jevtip-text {
   padding: 0;
   margin: 0;
   font-size: 0.8em;
}
 
div.jevtt_title{
   font-weight: bold;
   font-size: 1.2em;
	padding:2px;
	width:196px;
}
div.jevtt_text{
	padding:2px;
	width:196px;
	line-height: 1.3em;
}

/* Joomla 1.6 changes */
#action_dialog {
	text-align: left;
}
#action_dialog a{
	display:block;
	margin:0px 2px;
}
#jevents_header {position:relative;}
#jevents_header ul.actions {
	list-style-image: none;
	position:absolute;
	right:0px;
	top:0px;
	list-style-type: none;
	list-style-image: none;
	width:auto!important;
	
}
#jevents_header ul.actions li {
	line-height:14px!important;	
	background-image:none!important;
	padding-left:0px!important;
	overflow:visible!important;
	float:left;
	margin-left:3px;
}

/* Print version */
@media print {
   table.contentpaneopen {
   		background-image:none!important;
       background-color:white!important;
   }
	div.ev_navigation {
		display:none;
	}
	div.ev_adminpanel {
		display:none;
	}
	.ev_noprint {
		display:none;
	}
}

.legenda li
{
float: left;
margin: 0;
padding: 0;
padding-bottom: 15px;
}
